<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

<!-- setter injection -->
<!-- value attribute -->
	<!--<bean class="com.springcore.springcore.Student" name="student1">
	<property name="studentId" value="101" />
	<property name="studentName" value="Mayukh"/>
	<property name="studentAddress" value="Kolkata"/>
	</bean>
	-->
	<!-- value  -->
	<!-- 
  	<bean class="com.springcore.springcore.Student" name="student2">
	<property name="studentId"><value>102</value></property>
	<property name="studentName"><value>May</value></property>
	<property name="studentAddress"><value>Kol</value></property>
	</bean>  -->
	<!-- p schema -->
	<bean class="com.springcore.springcore.Student" name="student1" p:studentId="101" p:studentName="Mayukh" p:studentAddress="Kolkata"/>
<bean class="com.springcore.springcore.Student" name="student2" p:studentId="102" p:studentName="May" p:studentAddress="Kol"/>



</beans>